body {
    color: white;
}

input.ng-dirty.ng-invalid { border: 2px solid #ff0000}
input.ng-dirty.ng-valid { border: 2px solid #6bc502;}
textarea.ng-dirty.ng-invalid { border: 2px solid #ff0000}
textarea.ng-dirty.ng-valid { border: 2px solid #6bc502;}