<div class="container-fluid mt-3" style="display:inline-flex;">
  <div class="container col-3" style="overflow: hidden;">
    <div class="non-scrollable">
      <ul class="list-group" style="scroll-behavior: unset;">
        <li class="btn btn-primary mb-1" routerLink="/home">Home</li>
        <li class="btn btn-primary mb-1" routerLink="/about-me">About me</li>
        <li class="btn btn-primary mb-1" routerLink="/resume">Resume</li>
        <li class="btn btn-primary mb-1" routerLink="/portfolio">Portfolio</li>
        <li class="btn btn-primary mb-1" routerLink="/blog">Blog</li>
        <li class="btn btn-primary mb-1" routerLink="/contact">Contact</li>
        <li class="btn btn-primary mb-1" routerLink="/testimonials">Testimonials</li>
        <li class="btn btn-primary mb-1" routerLink="/media-links">Social Media Links</li>
        <li class="btn btn-primary mb-1" routerLink="/do-it-yourself">Do It Yourself</li>
      </ul>
    </div>
  </div>
  <div class="container col-9 scrollable">
    <div class="col-10 border">
      <router-outlet></router-outlet>
  </div>
</div>
